<nav class="p-3 mb-3 fixed-top" style="background-color: #cf402d;">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="/" class="white-link col-lg-4 link-body-emphasis text-decoration-none">
          <div>
            <h4 class="mb-0"> Leccion </h4>
          </div>
        </a>
  
        <div class="text-end">
          <a type="button" class="btn btn-outline-light me-2" routerLink="/login">Inicia sesión </a>
        </div>
      </div>
    </div>
  </nav>